@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>At the University of Canberra, Australia's Capital University, our focus is on preparing you for a successful and rewarding career.

We call it professional preparation for professional careers. And it works. Our graduates are consistently ranked among the most employable in Australia.

To discover how the University of Canberra can help you fulfil your potential, I invite you to explore this site, visit the campus or contact one of my colleagues, whose details you will find on this website.
    
    WHAT DO YOU WANT MOST FROM YOUR TIME AT UNIVERSITY?
    state of the art knowledge and skills in your chosen discipline
    professional preparation for a competitive edge in your chosen career
    the flexibility to change or add to your mix of courses
    the opportunity to take two degrees in four years
    experience of hands-on work-integrated learning
    lecturers informed by research and regular consultation with their professions
    career-enhancing qualifications that are recognised and respected world-wide
    the opportunity to participate in a research culture that is making substantial contributions to sustaining our quality of life.
    the transformational experience that only an inclusive, collegial relationship between students and academics can provide
    an enjoyable and relaxing social life in a friendly, multicultural environment
    You'll experience and enjoy all these and more at The University of Canberra. This is the time to spread your wings, to open your mind, widen your social circle and start friendships that will last a lifetime. Whatever discipline you study, you'll also find you develop professional networks with friends, colleagues, academics and mentors who'll be working in your own or related fields in every state of Australia and many countries around the world.

</p>
