@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    UC International, University of Canberra<br />
    ACT 2601 Australia<br />
    <abbr title="Phone">Phone:</abbr>
    +61 2 6201 5342
</address>

<address>
    <strong>Study:</strong>   <a href="mailto:study@canberra.edu.au">study@canberra.edu.au</a><br />
    <strong>Internationals:</strong> <a href="mailto:international@canberra.edu.au">international@canberra.edu.au</a>
</address>