@{
    ViewBag.Title = "Enrolment";
}

<div id="main">

        <header>
            <h1>Enrolment of classes</h1>
        </header>

            <br />
    <table style="width:100%;"><tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr><tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr><tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr></table>
           
     <h4>Unit</h4>
        <br />
            <h5>Description. </h5>
        <p>Seats available:</p>
            <br />
                <a href="#" class="btn-default">Enroll me</a>
                <a href="#" class="btn-default">See more</a>
            </br>

       
</div>