
@{
    ViewBag.Title = "Index";
}


<h2>Upload your assessments</h2>


<div class="row">
    <div class="large-12 columns">
        <div class="row">



            <div class="large-3 small-6 columns">
                
                <h6 class="panel">Assignment X</h6>
                <form method="post" action="file-upload-1.htm" name="submit" enctype="multipart/form-data">
                    <input type="file" name="fileField"><br /><br />
                    <input type="submit" name="submit" value="Submit">
                </form>
            </div>

            <div class="large-3 small-6 columns">
                <h6 class="panel">Assignment X</h6>

                <form method="post" action="file-upload-1.htm" name="submit" enctype="multipart/form-data">
                    <input type="file" name="fileField"><br /><br />
                    <input type="submit" name="submit" value="Submit">
                </form>
            </div>

            <div class="large-3 small-6 columns">
                <h6 class="panel">Assignment X</h6>
                <form method="post" action="file-upload-1.htm" name="submit" enctype="multipart/form-data">
    <input type="file" name="fileField"><br /><br />
    <input type="submit" name="submit" value="Submit">
</form>
        </div>
    </div>
</div>
